*{
    box-sizing: border-box;
    outline: 1px solid red;
}
.image-responsive{
    width: 100%;
}
.parallax{
    background-image: url("https://static.wixstatic.com/media/e8062f_ccd7cb25c2264fdc9328ea2c1fa62cf9~mv2.jpg/v1/fill/w_640,h_800,al_c,q_85,usm_0.66_1.00_0.01/e8062f_ccd7cb25c2264fdc9328ea2c1fa62cf9~mv2.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
    background-image: url("https://static.wixstatic.com/media/e8062f_ccd7cb25c2264fdc9328ea2c1fa62cf9~mv2.jpg/v1/fill/w_640,h_800,al_c,q_85,usm_0.66_1.00_0.01/e8062f_ccd7cb25c2264fdc9328ea2c1fa62cf9~mv2.jpg");
  
  min-height: 100%;
}

.bgimg-2 {
    background-image: url("https://static.wixstatic.com/media/e8062f_ccd7cb25c2264fdc9328ea2c1fa62cf9~mv2.jpg/v1/fill/w_640,h_800,al_c,q_85,usm_0.66_1.00_0.01/e8062f_ccd7cb25c2264fdc9328ea2c1fa62cf9~mv2.jpg");
  
  min-height: 400px;
}

.bgimg-3 {
    background-image: url("https://static.wixstatic.com/media/e8062f_ccd7cb25c2264fdc9328ea2c1fa62cf9~mv2.jpg/v1/fill/w_640,h_800,al_c,q_85,usm_0.66_1.00_0.01/e8062f_ccd7cb25c2264fdc9328ea2c1fa62cf9~mv2.jpg");
  
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}








.navbar{
    background: transparent;
    font-family: Helvetica;
}
.wrapper{
    transition:all 0.5s;
    left: 0;
    background-color: white;
}
.body{
    font-family: "helvetica Neue", Helvetica, arial, sans-serif;
    line-height: 1.5;
    color: #333
}
.section-header {
    padding: 0;
}
.section{
    position: relative;
    background-color: #fff;  
}
.section .parallax{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: block;
}
pattern-image{
    background-size: 100%;
}