*{
    box-sizing: border-box;
    outline: 1px solid red;
}
.image-responsive{
    width: 100%;
}
.bg-image{
    background-image: url(https://static.wixstatic.com/media/e8062f_ccd7cb25c2264fdc9328ea2c1fa62cf9~mv2.jpg/v1/fill/w_640,h_800,al_c,q_85,usm_0.66_1.00_0.01/e8062f_ccd7cb25c2264fdc9328ea2c1fa62cf9~mv2.jpg);
    margin: 0 -15px;
}
.navbar{
    background: transparent;
    font-family: Helvetica;
}
.wrapper{
    transition:all 0.5s;
    left: 0;
    background-color: white;
}
.body{
    font-family: "helvetica Neue", Helvetica, arial, sans-serif;
    line-height: 1.5;
    color: #333
}
.section-header {
    padding: 0;
}
.section{
    position: relative;
    background-color: #fff;  
}
.section .parallax{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: block;
}
pattern-image{
    background-size: 100%;
}