*{
    outline: 1px solid red;
}
.image-responsive{
    width: 100%;
}
.bg-image{
    margin: 0 -15px;
}
.navbar{
    background: transparent
}
.btn{
    display: inline-block;
    margin: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12 px;
    font-size: 14px;
    border-radius: 0px;
}
.header-search-button{
    float: left;
    cursor: pointer;
    transition: all .5s;
}
.jumbotron{
    background: transparent;
    color: white;
    background-attachment: fixed;
    min-height: 500px;
    margin-top:0px;
    margin-bottom: 8px;
}